<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.polyvi.xface.extension.advancedfiletransfer"
    version="1.0.1-dev">
    <name>AdvancedFileTransfer</name>
    <author>PolyVi Inc.</author>
    <description>xFace AdvancedFileTransfer Extension</description>
    <license>GPLv3</license>
    <keywords>cordova, xface, advanced filetransfer</keywords>
    <js-module name="AdvancedFileTransfer" src="www/AdvancedFileTransfer.js">
        <clobbers target="window.xFace.AdvancedFileTransfer" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AdvancedFileTransfer">
                <param name="android-package" value="com.polyvi.xface.extension.advancedfiletransfer.AdvancedFileTransfer"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        <source-file src="src/android/AdvancedFileTransfer.java" target-dir="src/com/polyvi/xface/extension/advancedfiletransfer" />
        <source-file src="src/android/FileDownloader.java" target-dir="src/com/polyvi/xface/extension/advancedfiletransfer" />
        <source-file src="src/android/FileDownloadInfo.java" target-dir="src/com/polyvi/xface/extension/advancedfiletransfer" />
        <source-file src="src/android/FileTransferManager.java" target-dir="src/com/polyvi/xface/extension/advancedfiletransfer" />
        <source-file src="src/android/FileTransferRecorder.java" target-dir="src/com/polyvi/xface/extension/advancedfiletransfer" />
        <source-file src="src/android/IFileTransfer.java" target-dir="src/com/polyvi/xface/extension/advancedfiletransfer" />
        <source-file src="src/android/IFileTransferListener.java" target-dir="src/com/polyvi/xface/extension/advancedfiletransfer" />
        <source-file src="src/android/FileUploader.java" target-dir="src/com/polyvi/xface/extension/advancedfiletransfer" />
        <js-module name="AdvancedFileTransfer_android" src="www/android/AdvancedFileTransfer.js">
            <merges target="window.xFace.AdvancedFileTransfer" />
    </js-module>
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="AdvancedFileTransfer">
                <param name="ios-package" value="XAdvancedFileTransferExt" />
            </feature>
        </config-file>
        <header-file src="src/ios/XAdvancedFileTransferExt.h" />
        <source-file src="src/ios/XAdvancedFileTransferExt.m" />
        <header-file src="src/ios/XFileDownloadInfo.h" />
        <source-file src="src/ios/XFileDownloadInfo.m" />
        <header-file src="src/ios/XFileDownloadInfoRecorder.h" />
        <source-file src="src/ios/XFileDownloadInfoRecorder.m" />
        <header-file src="src/ios/XFileDownloadListener.h" />
        <header-file src="src/ios/XFileDownloader.h" />
        <source-file src="src/ios/XFileDownloader.m" />
        <header-file src="src/ios/XFileDownloaderDelegate.h" />
        <source-file src="src/ios/XFileDownloaderDelegate.m" />
        <header-file src="src/ios/XFileDownloaderManager.h" />
        <source-file src="src/ios/XFileDownloaderManager.m" />
    </platform>

    <!-- wp8 -->
    <platform name="wp8">
        <config-file parent="/*" target="config.xml">
            <feature name="AdvancedFileTransfer">
                <param name="wp-package" value="AdvancedFileTransfer"/>
            </feature>
        </config-file>

        <config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
            <Capability Name="ID_CAP_NETWORKING"/>
        </config-file>

        <source-file src="src/wp/XAdvancedFileTransferExt.cs" />
        <source-file src="src/wp/XFileDownloader.cs" />
        <source-file src="src/wp/XFileDownloadInfo.cs" />
        <source-file src="src/wp/XFileTransferManager.cs" />
        <source-file src="src/wp/XFileTransferRecorder.cs" />
        <source-file src="src/wp/XIFileTransfer.cs" />
        <source-file src="src/wp/XIFileTransferListener.cs" />
    </platform>
    <dependency id="org.apache.cordova.file"/>
    <dependency id="org.apache.cordova.file-transfer"/>

</plugin>
